.finish-line {
  position: absolute;
  z-index: 1;
  right: 60px;
  top: 0;
}

.finish-line-inner {
  position: relative;
  width: 4px;
  height: 100%;
  background-color: #fa94ac;
  display: flex;
  align-items: center;
}

.finish-line-text {
  position: absolute;
  transform: translateX(-50%) rotate(90deg);
  white-space: nowrap;
  color: #fa94ac;
  right: -30px;
  font-size: 22px;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
