.winners-table.ant-table-wrapper .ant-table-thead > tr > th,
.winners-table.ant-table-wrapper .ant-table-tbody > tr > td {
  background-color: #c0c3f8;
  color: white;
  text-align: center;
  box-shadow:
    2px 2px #f5e5ff,
    4px 4px #638e9e;
}

.winners-table {
  margin-bottom: 1rem;
  border-top-right-radius: 10px;
  box-shadow:
    2px 2px #f5e5ff,
    4px 4px #638e9e;
}

.winners-table.ant-table-wrapper .ant-table-tbody > tr > td:nth-child(2) > svg {
  margin-top: 0.5rem;
}
.winners-table.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #a8acf3;
}

.winners-table.ant-table-wrapper .ant-table-tbody > tr:hover > td {
  background-color: #d1d3fa;
}

.winners-table.ant-table-wrapper .ant-table-thead > tr > th:hover {
  background-color: #d1d3fa;
}

.winners-table.ant-table-wrapper .ant-table-thead > tr > th:nth-child(2):hover {
  background-color: #a8acf3;
}
