.cat-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.cat-content {
  position: relative;
  height: 50px;
  flex: 1;
}

.cat-error {
  color: red;
  position: absolute;
  bottom: -20px;
}
