@keyframes runRight {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes runLeft {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

.cat-running {
  animation:
    runRight 0.6s infinite,
    runLeft 0.6s infinite 0.6s;
}

.cat-icon {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 50px;
  filter: drop-shadow(1px 1px 0 #f5e5ff) drop-shadow(2px 2px 0 #323582);
  z-index: 1;
}
