.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: #fa94ac;
  margin-bottom: 2rem;
  text-shadow:
    2px 2px #f5e5ff,
    4px 4px #638e9e;
  animation: float 12s ease-in-out infinite alternate;
  transition:
    transform 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(5px) rotate(-5deg);
  }

  100% {
    transform: translateY(-5px) rotate(5deg);
  }
}

.title::before,
.title::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  filter: blur(0.04em);
}

.title::before {
  animation: glitch 4s infinite;
  color: #c0c3f8;
  z-index: -1;
}

.title::after {
  animation: glitch 6s infinite;
  color: #323582;
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

.title:hover {
  cursor: pointer;
  color: #323582;
}
