.header {
  font-size: 1.5rem;
  padding: 1rem 1rem 5rem 1rem;
  background: #f5e5ff;
}

.custom-menu {
  display: flex;
  justify-content: center;
  gap: 20px;

  margin: 0 auto;
}

.custom-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #fff;
  text-decoration: none;
  transition: all 0.6s ease;
  position: relative;
  overflow: hidden;
  background-color: #323582;
  border-radius: 10px;
  box-shadow:
    2px 2px #f5e5ff,
    4px 4px #638e9e;
}

.menu-item-text {
  font-size: 2rem;
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px #638e9e;
}

.custom-menu-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transform: translateY(-100%);
  transition: transform 0.6s ease;
  z-index: 0;
}

.custom-menu-item:hover::before {
  transform: translateY(0);
}

.custom-menu-item-active {
  background-color: #c0c3f8;
  color: #323582;
}

@media (max-width: 600px) {
  .custom-menu {
    flex-direction: column;
  }
  .header {
    padding: 1rem 1rem 180px 1rem;
  }
}
