.start-line {
  position: absolute;
  left: 195px;
  top: 0;
}

.start-line-inner {
  position: relative;
  z-index: 1;
  width: 4px;
  height: 100%;
  background-color: #f5e5ff;
  display: flex;
  align-items: center;
}

.start-line-text {
  position: absolute;
  transform: translateX(-50%) rotate(90deg);
  white-space: nowrap;
  color: #f5e5ff;
  left: 20px;
  font-size: 22px;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
