#root {
  margin: 0 auto;

  text-align: center;
}

.app-header {
  padding: 0px;
}

.app-content {
  padding: 50px;
  min-height: calc(100vh - 128px);

  background: #f5e5ff;
}

.app-footer {
	background: #323582;
	color: #c0c3f8;
}
