#root {
  margin: 0 auto;
  text-align: center;
}

.app-content {
  padding: 0 30px;
  min-height: calc(100vh - 178px);

  background: #f5e5ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Caveat", sans-serif;
}

p,
span,
div,
a,
li,
button {
  font-family: "Caveat", sans-serif;
  font-size: 1rem;
}

@media (max-width: 400px) {
	.app-content {
		padding: 0 15px;
	}
}